<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ticari_Otomasyon.Properties.Settings.DboTicariOtomasyonuConnectionString"
            connectionString="Data Source=DESKTOP-F20JGOS\SQLSERVER1;Initial Catalog=DboTicariOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_DboTicariOtomasyonu_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-F20JGOS\SQLSERVER1;integrated security=SSPI;initial catalog=DboTicariOtomasyonu" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>